img.center { 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

label.size {
	font-size: 15px;
}
/* Pefect Software image */
img.ps_img{
	right:10px;
	position:absolute;
	bottom:2px;
	width: 60%;
}

.bold_italic {
	font-weight: bold;
	font-style: italic;
}

td.center{
	vertical-align:center;
	text-align: center;
}
/* Change the background of the main content */
.ui-page{
	background: #FFF;
}
/*Change the margin for page headers */
.ui-header .ui-title {
	margin-right: 10%;
 	margin-left: 10%;
}
/*Reduce the margin @ the top with 10px*/
.margin{
	margin-top:-10px;
}
/*Align images center & reduce opacity*/
div.opacity{
	margin:auto;
	opacity: 0.2;
}